@model LaPhuongNam675.Models.LPN0675

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LPN0675</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LPNName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LPNName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LPNGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LPNGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LPNId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>